.target {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 1px salmon;
	width: 400px;
	height: 300px;
}

.container {
	border: solid 1px salmon;
	width: 500px;
}

.a {
	background: honeydew;
}

.b {
	border-color: darkkhaki;
}
