.target {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 1px salmon;
	width: 400px;
	height: 300px;
}

.a {
	height: 200px;
}

.b {
	height: 350px;
}

.container {
	border: solid 1px salmon;
	width: 500px;
}

.container2 {
	border: solid 1px burlywood;
	width: 500px;
}
